<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <title>Original Coast Clothing</title>
  </head>

  <body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>

      window.fbAsyncInit = function() {
        FB.init({
          appId            : '<%= config.appId %>',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v10.0',
          status           : true
        });

        checkLoginState();
      };

      function login() {
        FB.login(
          function(response) {
            statusChangeCallback(response);
          },
          {
            scope: "public_profile,email,user_messenger_contact",
            reset_messenger_state: 1,
          }
        );
      }

      function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().

        loginBtn = document.getElementById('sdk-login');
        profileCard = document.getElementById('profile-card');
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
          fetchProfileDetails()
          removeClass(profileCard, 'hidden');
        } else {                                 // Not logged into your webpage or we are unable to tell.
          addClass(profileCard, 'hidden');
        }
      }

      function fetchProfileDetails() {
        FB.api('/me', function(response) {
          document.getElementById('user-name').textContent =
            'Hi, ' + response.name + '!';
        });
      }

      function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
          statusChangeCallback(response);
        });
      }

      function hasClass(element,className) {
        return !!element.className.match(new RegExp('(\\s|^)'+className+'(\\s|$)'));
      }

      function addClass(element,className) {
        if (!hasClass(element,className)) element.className += " "+className;
      }

      function removeClass(element,className) {
        if (hasClass(element,className)) {
          var reg = new RegExp('(\\s|^)'+className+'(\\s|$)');
          element.className=element.className.replace(reg,' ');
        }
      }
    </script>
  </body>
</html>
