<% include header %>

<div class="container">
  <h1>Original Coast Clothing</h1>
  <div class="pull-right">
    <div id="profile-card" class="hidden">
      <p id="user-name" class="text-info"></p>
      <p class="text-info">Clicking the login button again will reset the state and
        <br/>
        send the webhook event.</p>
    </div>
    <div>
      <button id="sdk-login" class="btn btn-primary" onclick="login();"> Login with Facebook </button>
    </div>
  </div>
  <img src="/logo.png" />
  <p class="lead">
    We’re open 7 days, so start your shopping experience now!
  </p>
  <p>
    This site is part of the Sample Messenger Bot experience of Original Coast
    Clothing. It has the Login Connect feature configured, to be able to proactively message users.
  </p>
  <br />

  <br />
</div>

<% include footer %>
